@layer base {
  .theme-shanghai {
    --background: 60 47% 98%;
    --foreground: 48 7% 24%;
    --card: 60 47% 96%%;
    --card-foreground: 48 7% 24%%;
    --popover: 0 0% 100%;
    --popover-foreground: 48 7% 24%;
    --primary: 156 26% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 142 3% 76%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --background-main: 60 47% 96%;
    --headline-main: 155 25% 31%;
    --headline-sidebar: 155 25% 31%;
    --headline-sidebar-selected: 155 25% 31%;
    --titlebar-background: 60 12% 88%;
    --titlebar-background-selected: 141 15% 78%;
    --titlebar-foreground: 138 10% 32%;
    --titlebar-foreground-selected: 40 8% 16%;
    --sidebar-background: 54 56% 96%;
    --sidebar-background-selected: 55 45% 88%;
    --sidebar-foreground: 156 26% 31%;
    --sidebar-foreground-selected: 167 8% 43%;

    .prose {
      --tw-prose-body: hsl(var(--foreground));
      --tw-prose-headings: hsl(var(--headline-main));
      --tw-prose-links: hsl(var(--primary));
      --tw-prose-bold: hsl(var(--headline-main));
      --tw-prose-counters: hsl(var(--primary));
      --tw-prose-bullets: hsl(var(--primary));
      --tw-prose-hr: hsl(var(--border));
      --tw-prose-quotes: hsl(var(--headline-main));
      --tw-prose-quote-borders: hsl(var(--border));
      --tw-prose-pre-code: hsl(0deg 0% 98%);
      --tw-prose-pre-bg: hsl(0deg 0% 15%);

      /* 目前没有用到 */
      --tw-prose-th-borders: hsl(var(--primary));
      --tw-prose-td-borders: hsl(var(--primary));
      --tw-prose-lead: hsl(var(--primary));
      --tw-prose-kbd: hsl(var(--primary));
      --tw-prose-kbd-shadows: hsl(var(--primary));
      --tw-prose-code: hsl(var(--primary));
      --tw-prose-captions: hsl(var(--primary));
    }
  }
}
